{% load static %}

<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title> {% block title %}{% endblock title %} </title>
    {% block head %}{% endblock head %}
</head>

<body>
    <!-- Navigation -->

    <a href="{% url 'sample_app:inquiry' %}">INQUIRY</a>

    {% block header %}{% endblock header %}

    {% if messages %}
    <div>
        <ul>
            {% for message in messages %}
            <li>
                {{ message.tags }} : {{ message }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% block contents %}{% endblock contents %}
</body>

</html>